<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.tsenger.androsmex" android:versionName="0.1"
	android:versionCode="1">
	<uses-permission android:name="android.permission.NFC" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name="AndroSmexStartseite" android:label="@string/app_name"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.nfc.action.TECH_DISCOVERED" />
			</intent-filter>
			<meta-data android:name="android.nfc.action.TECH_DISCOVERED"
				android:resource="@xml/tech" />
		</activity>
		<activity android:name="AndroSmexKonfiguration"
			android:screenOrientation="portrait" android:label="@string/preferences_titel">
		</activity>
	</application>

	<uses-sdk android:minSdkVersion="10" />
	<uses-feature android:name="android.hardware.nfc"
		android:required="true" />

</manifest>